{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>WebSite | Estacionamento</title>
</head>
<body>
    <div class="container-fluid" >
        <header>
            <div class="row bg-dark">
                <div class="col-md-10">
                    <h1 class="text-primary">Estacionamento 24 horas</h1>
                    <span class="text-primary">Slogan da empresa</span>
                </div>
                <div class="col-md-2">
                    <img src="{% static 'img/car.png' %}" alt="Estacionamento 24 horas LOGO" width="150" height="150">
                </div>
                {% include 'website/menu.html' %}
            </div>
        </header>
        

        <main id="main">
            {% block main %}
            
            {% endblock %}      
        </main>
        

        {% include 'website/footer.html' %}
    </div>
        
</body>
</html>