{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>WebSite | Estacionamento</title>
    <script>
        function menuResp(){
            var btMenu = document.getElementById('menu-check');
            var menu = document.getElementsByClassName('menu');
            if(btMenu.checked){
                menu.item(0).style.visibility = 'visible';
            }else{
                menu.item(0).style.visibility = 'hidden';
            }
        }
    </script>
</head>
<body>
    <header class="header">
        <p id="nome-empresa">Estacionamento 24 Horas</p>
        <div class="dMenu-button">
            <label class="menu-button" for="menu-check">
                <img src="{% static 'img/menu-button.svg' %}" alt="Botão de Menu" class="menu-img">
            </label>
            <input type="checkbox" name="menu-check" id="menu-check" onclick="menuResp()" value="ativo">
        </div>
        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-list-item"><a class="menu-list-item-link" href="{% url 'website_home' %}">Home</a></li>
                <li class="menu-list-item"><a class="menu-list-item-link" href="{% url 'website_plano' %}">Plano</a></li>
                <li class="menu-list-item"><a class="menu-list-item-link" href="{% url 'website_servicos' %}">Serviços</a></li>
                <li class="menu-list-item"><a class="menu-list-item-link" href="{% url 'website_sobre' %}">Sobre</a></li>
                <li class="menu-list-item"><a class="menu-list-item-link" href="{% url 'website_contato' %}">Contato</a></li>
                <li class="menu-list-item"><a class="menu-list-item-link" href="{% url 'core_home' %}">Sistema</a></li>
            </ul>
        </nav>   
    </header>
    

    <main id="main">
        {% block main %}
        
        {% endblock %}      
    </main>
    

    <footer id="footer">
        <span class="footer-creditos">Desenvolvido por Bruno Oliveira e Oliveira | 2018</span>
    </footer>
        
</body>
</html>