{% extends 'website/base.html' %}
{% load static %}

{% block links %}
    <script src="{% static 'javascript/contato.js' %}"></script>
{% endblock  %}

{% block main %}
    <div class="painel-claro"><h1 class="titulo-escuro-painel">Contato</h1></div>

    <div id="modal">
        <div id="modal-conteudo">
            <span class="fechar" onclick="fecharModal()">&times;</span>
            <h2 class="titulo">Mensagem</h2>
            <p class="text-danger msg-form" id="modal-msg" >{{ mensagem}}</p>
        </div>
    </div>
    
    
    <section class="section">
        <div class="painel">
            <h2 class="titulo">Formulário de Contato</h2>
        </div>
        <p class="p">Preencha os campos abaixo inserindo seus dados e em seguida escreva a mensagem.</p>
        
        <div class="flex-container">
            <form class="form-contato" method="POST" >
                {% csrf_token %}
                <div class="form-group">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" name="nome" class="form-input" id="nome" placeholder="Digite seu Nome" required>
                </div>
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-input" id="email" placeholder="Digite seu Email" required>
                </div>
                <div class="form-group">
                    <label for="msg" class="form-label">Mensagem</label>
                    <textarea name="msg" id="msg" class="form-textarea" placeholder="Digite sua Mensagem"  required></textarea>
                </div>
        
                <button type="submit" class="form-submit" >Enviar</button>
                
            </form>
        </div>
        
    </section>

    <hr class="linha">

    <section class="section">
        <div class="painel">
            <h2 class="titulo">Localização</h2>
        </div>
        <div class="flex-container">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93284.62355966534!2d141.30045962122276!3d43.059428644127614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0ad4755a973633%3A0x33937e9d4687bad5!2sSapporo%2C+Hokkaido%2C+Japan!5e0!3m2!1sen!2sbr!4v1538929813245" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        
    </section>
    
{% endblock %}