{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <section class="section section-bg">
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor
            . Aenean aliquam molestie leo, vitae iaculis nisl. Tá deprimidis, eu conheço uma 
            cachacis que pode alegrar sua vidis. Posuere libero varius.
        </p>
    </section>

    <section class="section">
        <div class="painel">
            <h2 class="titulo">Serviços</h2>
        </div>
        <p class="p">Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor
            . Aenean aliquam molestie leo, vitae iaculis nisl. Tá deprimidis, eu conheço uma 
            cachacis que pode alegrar sua vidis. Posuere libero varius. Nullam a nisl ut ante blandit 
            hendrerit. Aenean sit amet nisi. A ordem dos tratores não altera o pão duris.
        </p>
        <p class="p">Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor
            . Aenean aliquam molestie leo, vitae iaculis nisl. Tá deprimidis, eu conheço uma 
            cachacis que pode alegrar sua vidis. Posuere libero varius. Nullam a nisl ut ante blandit 
            hendrerit. Aenean sit amet nisi. A ordem dos tratores não altera o pão duris.
        </p>
        
    </section>

    <section class="section">
        <div class="painel">
            <h2 class="titulo">Sobre</h2>
        </div>
        <p class="p">Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor
            . Aenean aliquam molestie leo, vitae iaculis nisl. Tá deprimidis, eu conheço uma 
            cachacis que pode alegrar sua vidis. Posuere libero varius. Nullam a nisl ut ante blandit 
            hendrerit. Aenean sit amet nisi. A ordem dos tratores não altera o pão duris. </p>
    </section>
{% endblock %}