{% extends 'website/base.html' %}
{% load static %}


{% block main %}
    <div class="painel-claro"><h1 class="titulo-escuro-painel">Página Inicial</h1></div>

    <section class="section">
        <div class="painel">
            <h2 class="titulo">Serviços</h2>
        </div>
        <p class="p">Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor
            . Aenean aliquam molestie leo, vitae iaculis nisl. Tá deprimidis, eu conheço uma 
            cachacis que pode alegrar sua vidis. Posuere libero varius. Nullam a nisl ut ante blandit 
            hendrerit. Aenean sit amet nisi. A ordem dos tratores não altera o pão duris.
        </p>
        <p class="p">Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor
            . Aenean aliquam molestie leo, vitae iaculis nisl. Tá deprimidis, eu conheço uma 
            cachacis que pode alegrar sua vidis. Posuere libero varius. Nullam a nisl ut ante blandit 
            hendrerit. Aenean sit amet nisi. A ordem dos tratores não altera o pão duris.
        </p>
        
        
    </section>

    <hr class="linha">

    <section class="section">
        <div class="painel">
            <h2 class="titulo">Galeria de Imagens</h2>
        </div>

        <div class="flex-container">
            <div class="galeria">
                <a href="{% static 'img/img1.jpg' %}" class="galeria-link" target="_blank">
                    <img src="{% static 'img/img1.jpg' %}" alt="Estrada com árvores" class="galeria-img">
                </a> 
                <div class="galeria-desc">
                    <span>Mussum Ipsum cacilds vidis litro abertis.</span>
                </div> 
            </div>

            <div class="galeria">
                <a href="{% static 'img/img2.jpg' %}" class="galeria-link" target="_blank">
                    <img src="{% static 'img/img2.jpg' %}" alt="Árvores e folhas ao vento" class="galeria-img">
                </a> 
                <div class="galeria-desc">
                    <span>Mussum Ipsum cacilds vidis litro abertis.</span>
                </div> 
            </div>

            <div class="galeria">
                <a href="{% static 'img/img3.jpg' %}" class="galeria-link" target="_blank">
                    <img src="{% static 'img/img3.jpg' %}" alt="Árvore e um gramado com o sol ao fundo" class="galeria-img">
                </a> 
                <div class="galeria-desc">
                    <span>Mussum Ipsum cacilds vidis litro abertis.</span>
                </div> 
            </div>

            <div class="galeria">
                <a href="{% static 'img/img4.jpg' %}" class="galeria-link" target="_blank">
                    <img src="{% static 'img/img4.jpg' %}" alt="Estradas com floresta dos lados" class="galeria-img">
                </a> 
                <div class="galeria-desc">
                    <span>Mussum Ipsum cacilds vidis litro abertis.</span>
                </div> 
            </div>

            <div class="galeria">
                <a href="{% static 'img/img5.jpg' %}" class="galeria-link" target="_blank">
                    <img src="{% static 'img/img5.jpg' %}" alt="Praia ao pôr do sol" class="galeria-img">
                </a> 
                <div class="galeria-desc">
                    <span>Mussum Ipsum cacilds vidis litro abertis.</span>
                </div> 
            </div>

            <div class="galeria">
                <a href="{% static 'img/img6.jpg' %}" class="galeria-link" target="_blank" >
                    <img src="{% static 'img/img6.jpg' %}" alt="Árvore ao pôr do sol" class="galeria-img">
                </a> 
                <div class="galeria-desc">
                    <span>Mussum Ipsum cacilds vidis litro abertis.</span>
                </div> 
            </div>

               
        </div>
        
    </section>

    <hr class="linha">

    <section class="section">
        <div class="painel">
            <h2 class="titulo">Sobre</h2>
        </div>
        <p class="p">Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor
            . Aenean aliquam molestie leo, vitae iaculis nisl. Tá deprimidis, eu conheço uma 
            cachacis que pode alegrar sua vidis. Posuere libero varius. Nullam a nisl ut ante blandit 
            hendrerit. Aenean sit amet nisi. A ordem dos tratores não altera o pão duris. 
        </p>
        
    </section>
{% endblock %}