{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <section class="section-bg">
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. 
        </p>
    </section>

    <section class="section">
        <div class="painel">
            <h2 class="titulo">Serviço 1</h2>
        </div>
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p>

        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p> 
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p>
    </section>

    <section class="section">
        <div class="painel">
            <h2 class="titulo">Serviço 2</h2>
        </div>
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p>

        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p> 
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p>
    </section>

    <section class="section">
        <div class="painel">
            <h2 class="titulo">Serviço 3</h2>
        </div>
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p>

        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p> 
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p>
    </section>
{% endblock %}