{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <div class="painel-claro"><h1 class="titulo-escuro-painel">Sobre</h1></div>

    <section class="section">
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p>  
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p> 
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p>
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p> 
        <p class="p">
            Mussum Ipsum, cacilds vidis litro abertis. Atirei o pau no gatis, per gatis num morreus. 
            Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, 
            mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. 
        </p>
        <p class="p"> 
            Todos os ícones deste site foram retirados de:
        </p> 
        <div class="flex-container">
            <div id="refCredito">
                Icons made by 
                <a href="https://www.freepik.com/" title="Freepik">Freepik</a>
                from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div>
            
            
    </section>
{% endblock %}