html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


.header{
    width: 100%;
    position: absolute;
    top: 0;
    background-color:#172D3A;
    height:15vw;
    display: grid;
    align-items: center;
}

#nome-empresa{
    margin: 0;
    padding: 0;
    font-weight: bold;
    margin-left: 10px;
    float: left;
    color: #698495;
    position: absolute;
}


.menu-list-item-link{
    text-decoration: none;
    color: #698495;
    font-weight: bold;
}

.menu-list-item-link:hover {
    background-color: rgba(133,156,164,0.3);
    
}

.menu-img{
    visibility: hidden;  
}

/* main */

#main{
    width: 100%;
    margin-top: 15vw;
}

.section{
    width: 100%;
    clear: both;
}

.section-bg{
    background-color: #698495;
    width: 100%;
    clear: both;
}

.painel{
    background-color: #172D3A;
    text-align: center;
    height: 38px;
    display: grid;
    align-items: center;
}

.titulo{
    margin: 0;
    color:#698495;
}

.p{
    margin: 0;
    text-indent: 20px;
}

/* Container flex centralizador */

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: center;
}

/* Galeria de Imagens */

.galeria{
    border: 1px;
    border-color: #698495;
    border-style: solid;

}




/* Footer */

#footer{
    width: 100%;
    bottom: 0;
    background-color: #172D3A;
}




@media only screen and (max-width:630px){
    /* Header e nav */
    #nome-empresa{
        font-size: 6vw;        
    }
    
    .menu{
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 98;
        margin-top: 15vw;
        width: 100%;
        visibility: hidden;
    }

    .menu-list{
        list-style: none;
        background-color: #172D3A;
        padding: 0px;
        margin: 0px;
        right: 0px;
    }
    .menu-list-item:first-child{
        border-top: 1px;
        border-top-color: rgba(133,156,164,0.3);
        border-top-style: solid;
    }

    .menu-list-item{
        border-bottom: 1px;
        border-bottom-color: rgba(133,156,164,0.3);
        border-bottom-style: solid;
    }
    
    .menu-list-item-link{
        font-size: 4vw;
        padding: 10px 15px;
        display: block;
        text-align: center;
    }

    /* Div CheckBox e img menu */
    .dMenu-button{
        position: absolute;
        right: 10px;
    }

    .menu-img{
        width: 10vw;
        visibility: visible; 
    }

    /* Checkbox */
    #menu-check{
        display: none;
    }

    /* Label menu */
    .menu-button{
        cursor: pointer;
    }

    /* Main */

    .section{

    }

    .titulo{
        
    }

    .p{
        padding: 10px;
        text-align: justify;
    }

    /* Galeria de Imagens */
    
    .galeria{
        width: 90%;
        margin-top: 15px;
    }
    .galeria:last-child{
        margin-bottom: 15px;
    }

    .galeria-img{
        width: 100%;
        margin-bottom: 10px;  
    }

    .galeria-desc{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    /* Formulário */

    .form-contato{
        width: 90%;
        padding: 15px 0;

    }

    /* Mapa */

    .mapa{
        width: 90%;
    }
    
    

    /* Footer */
    #footer{
        height: 60px;
        text-align: center;
        display: grid;
        align-items: center;
    }

    .footer-creditos{
        color:#698495;
        font-weight: bold;
        padding: 0 15px;
    }




    

}