{% extends "base.html" %}
{% load bootstrap %}

{% block main %}
    <div class="row">
        <div class="col-sm-6">
            <form action="{% url 'core_mensalista_novo' %}" method="POST">
                {% csrf_token %}

                {{ form|bootstrap }}

                <button type="submit"  class="btn btn-secondary">Cadastrar</button>
            </form>
        </div>

        <div class="col-sm-6">  
            <ul>
                <h1>Lista Mensalistas</h1>
                <h4>Clique no ID do registro para atualizar seus dados</h4>
                <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Inicio</th>
                        <th scope="col">Valor Mês</th>
                        <th scope="col">Veículo Placa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mensalista in mensalistas %}
                        <tr>
                            <th scope="row"><a href="{% url 'core_mensalista_update' mensalista.id %}">{{ mensalista.id }}</a></th>
                            <td>{{ mensalista.inicio }}</td>
                            <td>{{ mensalista.valor_mes }}</td>
                            <td>{{ mensalista.veiculo.placa }}</td>
                        </tr>
                    {% endfor %}    
                </tbody>
                </table>
            </ul>           
        </div>
    
    </div>

{% endblock %}