{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebSite | Estacionamento</title>

    {% block links %}{% endblock  %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <script>
        function menuResp(){
            var btMenu = document.getElementById('menu-check');
            var menu = document.getElementsByClassName('menu');
            if(btMenu.checked){
                menu.item(0).style.visibility = 'visible';
            }else{
                menu.item(0).style.visibility = 'hidden';
            }
        }

        function abrirMenu2() {
            var submenu = document.getElementsByClassName("seg-menu");
            var btncima = document.getElementsByClassName("img-submenu-cima");
            var btnbaixo = document.getElementsByClassName("img-submenu-baixo");

            if (submenu.item(0).style.display == 'none') {
                submenu.item(0).style.display = 'block';
                btnbaixo.item(0).style.display = 'block';
                btncima.item(0).style.display = 'none'
            } else {
                submenu.item(0).style.display = 'none';
                btnbaixo.item(0).style.display = 'none';
                btncima.item(0).style.display = 'block'
            }
        
        }


    </script>
</head>
<body>
    
    <header class="header">
        <p id="nome-empresa">Estacionamento<br>24 Horas</p>
        <div class="dMenu-button">
            <label class="menu-button" for="menu-check">
                <img src="{% static 'img/menu-button.svg' %}" alt="Botão de Menu" class="menu-img">
            </label>
            <input type="checkbox" name="menu-check" id="menu-check" onclick="menuResp()" value="ativo">
        </div>
        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-list-item"><a class="menu-list-item-link" href="{% url 'core_home' %}">Home</a></li>

                <li class="menu-list-item">
                    <div class="btnSegMenu menu-list-item-link" onclick="abrirMenu2()" >
                        Serviços
                        <img src="{% static 'img/sub-menu-cima.png' %}" class="img-submenu-cima" alt="Seta para indicar o sub menu">
                        <img src="{% static 'img/sub-menu-baixo.png' %}" class="img-submenu-baixo" alt="Seta para indicar o sub menu">
                        <input type="checkbox" name="submenu-check" id="submenu-check"  value="ativo">
                    </div> 
                    
                    <ul class="seg-menu menu-list">
                        <li class="seg-menu-list-item"><a class="seg-menu-list-link menu-list-item-link" href="{% url 'core_lista_pessoas' %}">Pessoas</a></li>
                        <li class="seg-menu-list-item"><a class="seg-menu-list-link menu-list-item-link" href="{% url 'core_lista_mensalistas' %}">Mensalistas</a></li>
                        <li class="seg-menu-list-item"><a class="seg-menu-list-link menu-list-item-link" href="{% url 'core_lista_veiculos' %}">Veículos</a></li>
                        <li class="seg-menu-list-item"><a class="seg-menu-list-link menu-list-item-link" href="{% url 'core_lista_mov_rot' %}">Movimentos Rotativos</a></li>
                        <li class="seg-menu-list-item"><a class="seg-menu-list-link menu-list-item-link" href="{% url 'core_lista_mov_mens'%}">Movimentos Mensalistas</a></li>
                    </ul>
                </li>


                {% if user.is_authenticated %}
                    <li class="menu-list-item">
                        <a class="menu-list-item-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="menu-list-item">
                        <a class="menu-list-item-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
                
                <li class="menu-list-item">
                    <a class="menu-list-item-link" href="{% url 'website_home' %}">Voltar ao Website</a>
                </li>

            </ul>
        </nav>   
    </header>






    <main id="main">
        {% block main %}
        
        {% endblock %}      
    </main>
    
    

    <footer id="footer">
        <span class="footer-creditos">Desenvolvido por Bruno Oliveira e Oliveira &nbsp | &nbsp 2018 </span>
        
        <a href="https://github.com/Bruno-Oliveira-e-Oliveira/Projeto_final_curso_web_django" target="_blank">
            <img class="img-github" src="{% static 'img/GitHub-Mark-32px.png' %}" alt=" Imagem do Octocat para linkar o projeto do github"> 
        </a>
    </footer>
</body>
</html>